<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>609788839593-jvlrovi291ge1rblkb7blhvopoas2hpb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.609788839593-jvlrovi291ge1rblkb7blhvopoas2hpb</string>
	<key>API_KEY</key>
	<string>AIzaSyAHpZUwn_ZGYfr2P3snPWb4fZv-KrgGqc0</string>
	<key>GCM_SENDER_ID</key>
	<string>609788839593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.example-chat-rn</string>
	<key>PROJECT_ID</key>
	<string>example-notification-server</string>
	<key>STORAGE_BUCKET</key>
	<string>example-notification-server.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:609788839593:ios:7bf3b4e0830012c4240bb8</string>
</dict>
</plist>